<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'user/components/title.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sound_clone.css') }}">
</head>
<body>
{% include 'user/components/top_navbar.html' %}

<div class="container">
    {% include 'user/components/sidebar.html' %}

    <main class="content">
        {% include 'admin/components/equalizer.html' %}
    </main>
</div>

</body>

<script src="{{ url_for('static', filename='scripts/login_logout.js') }}"></script>

</html>
